---
layout: default
title: "Projects"
description: "I build small powerful tools to optimize your workflow, whether for personal or professional use.
Contact me if you need a high quality application for mobile, desktop, web or all of them."
---

<ul class="article-list">
    {% assign projects = (site.projects | sort: 'date') | reverse %}
    {% for project in projects %}
    <li class="article-list-item ">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank" title="{{ project.title }}">
        {% else %}
        <a href="{{ project.url | relative_url }}" title="{{ project.title }}">
        {% endif %}
            <h5>
                {{ project.title }}
                {% if project.link %}
                <span class="icon icon-share"></span>
                {% else %}
                <span class="icon icon-ios-arrow-thin-right"></span>
                {% endif %}
            </h5>
        </a>
        <p>{{ project.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
              {{ project.date | date: "%B %-d, %Y" }}
            </span>
            <span class="article-list-divider">-</span>
            <span class="article-list-tags">
                {% for tag in project.tags %}
                {{ tag }}{% if tag != project.tags.last %}, {% endif %}
                {% endfor %}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>