<footer class="footer">
    <div class="footer-info">
        <span>Meerdorp 34/6, 2321 Meer</span>
        <span><a href="tel:+32486956855">+32 (0) 486 956 855</a></span>
        <span>BTW BE 0667.943.483</span>
    </div>
    <ul class="footer-links">
        {% if site.social.twitter %}
        <li>
            <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Twitter">
                <span class="icon icon-social-twitter"></span>
            </a>
        </li>
        {% endif %}
        {% if site.social.github %}
        <li>
            <a href="https://github.com/{{ site.social.github }}" target="_blank" title="GitHub">
                <span class="icon icon-social-github"></span>
            </a>
        </li>
        {% endif %}
        {% if site.social.dribbble %}
        <li>
            <a href="https://dribbble.com/{{ site.social.dribbble }}" target="_blank" title="Dribbble">
                <span class="icon icon-social-dribbble-outline"></span>
            </a>
        </li>
        {% endif %}
        {% if site.social.linkedin %}
        <li>
            <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" title="LinkedIn">
                <span class="icon icon-social-linkedin"></span>
            </a>
        </li>
        {% endif %}
        {% if site.social.bitcoin %}
        <li>
            <a href="{{ site.social.bitcoin }}" target="_blank" title="Bitcoin">
                <span class="icon icon-social-bitcoin"></span>
            </a>
        </li>
        {% endif %}
        {% if site.rss_enabled == true %}
        <li>
            <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
                <span class="icon icon-social-rss"></span>
            </a>
        </li>
        {% endif %}
    </ul>
</footer>
