---
layout: default
title: "Blog"
description: "I build small powerful tools to optimize your workflow, whether for personal or professional use.
Contact me if you need a high quality application for mobile, desktop, web or all of them."
---

<ul class="article-list">
    {% for post in site.posts %}
    <li class="article-list-item ">
        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
            <h5>
                {{ post.title }}
                <span class="icon icon-ios-arrow-thin-right"></span>
            </h5>
        </a>
        <!--<p>{{ post.description }}</p>-->
        <div class="article-list-footer">
        <span class="article-list-date">
          {{ post.date | date: "%B %-d, %Y" }}
        </span>
            <span class="article-list-divider">-</span>
            <span class="article-list-minutes">
          {% capture words %}
            {{ post.content | number_of_words }}
          {% endcapture %}
          {% unless words contains "-" %}
            {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
          {% endunless %}
        </span>
        </div>
    </li>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <li class="article-pagination ">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts <span
            class="icon icon-ios-arrow-thin-right"></span></a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}"><span class="icon icon-ios-arrow-thin-left"></span> Older posts</a>
        {% endif %}
    </li>
    {% endif %}
</ul>